[package]
name = "mhost"
version = "0.0.6"
authors = ["Lukas Pustina <lukas@pustina.net>"]
description = "Like `host`, but uses multiple DNS servers massively parallel and compares results"
repository = "https://github.com/lukaspustina/mhost.git"
documentation = "http://lukaspustina.github.io/mhost"
readme = "README.md"
license = "MIT"
keywords = ["network", "dns", "host", "dig", "cli"]
include = [
  "README.md",
  "LICENSE",
  "**/*.rs",
  "Cargo.toml",
]

[badges]
travis-ci = { repository = "lukaspustina/mhost", branch = "master" }
appveyor = { repository = "lukaspustina/mhost", branch = "master" }

[features]
bin = ["clap", "chrono", "chrono-humanize", "ansi_term", "flexi_logger", "resolv-conf", "tabwriter"]

[[bin]]
name = "mhost"
path = "src/bin/mhost.rs"
doc = false
required-features = ["bin"]

[lib]
name = "mhost"
path = "src/lib.rs"

[dependencies]
error-chain = "^0.11"
futures = "^0.1.14"
hyper = "^0.11"
itertools = "^0.7"
log = "^0.3"
nom = "^3.2"
serde = "^1.0"
serde_derive = "^1.0"
serde_json = "^1.0"
tokio-core = "^0.1.9"
trust-dns = "^0.11"

clap = { version = "^2.26", optional = true }
chrono = { version = "^0.4", optional = true }
chrono-humanize = { version = "^0.0.10", optional = true }
ansi_term = { version = "^0.9", optional = true }
flexi_logger = { version = "^0.6", optional = true }
resolv-conf = { version = "^0.4", optional = true }
tabwriter = { version = "^1.0", optional = true }

[dev-dependencies]
assert_cli = "^0.5"
